<div class="container" *ngIf="uploadPicArea==false">
    <div class="row">
        <hr />
    </div>
    <div class="row">
        
        <div class="col-md-8">
            <img src="{{profilePhoto}}?{{getTimeStamp()}}" alt="Profile Photo" style="height:500px;width:100%;cursor:pointer"/>
        </div>

        <div class="col-md-2">
            <button md-raised-button (click)="UploadPic()">Update Profile Picture</button>
        </div>
        
    </div>
    <div class="row">
            <hr />
        </div>
</div>


<div class="container" *ngIf="uploadPicArea==true">
    <div class="row">
        <div class="col-md-6 text-center" style="position: relative; border: 1px solid red; 
            width: 150px; height: 100px; line-height: 30px; text-align: center;" >
                + Upload Photo        
        <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." 
            style="opacity: 0.0; position: absolute; top:0; left: 0; bottom: 0; right:0; 
            width: 100%; height:100%;" />
        
        </div>
    </div>

    <div class="row">
        <hr />
    </div>

    <div class="row">
        Image Preview
        <div class="col-md-6">
            <img class="image" src="/uploads/default.jpg" alt="Profile Photo" style="height:300px;width:100%;"/>
        </div>
        <div class="col-md-6">
            <button type="button" (click)="upload()">Update Picture</button>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>

</div>
