<h1>DashBoard Page</h1>

<div class="container">
    
    Select the Team:
    <select class="form-control" [(ngModel)]="selectedTeam">
        <option *ngFor="let team of teams">
            {{team.teamName}}
        </option>
    </select>
</div>


<div class="container" *ngIf="isTeamSelected">
    <a [routerLink]="['./teams']">Team Detaills</a>
    <a [routerLink]="['./vacationtracker']">Vacation Tracker</a>
    <a [routerLink]="['./activities']">Recent Activities</a>

    
</div>

<router-outlet></router-outlet>

<!--<ng-template #loading_content>
    <span class="text-center">
        Please select the team...
    </span> 
</ng-template>-->